<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9" lang="en" class="no-js"> <![endif]-->
<!--[if !(IE)]><!-->
<html lang="en" class="no-js">

<head>
    <title>Academia TCC - Admin Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="KingAdmin - Bootstrap Admin Dashboard Theme">
    <meta name="author" content="The Develovers">
    <!-- CSS -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/js/plugins/select2/select2.min.css" rel="stylesheet" />
    <link href="~/assets/js/plugins/jquery-gritter/css/jquery.gritter.css" rel="stylesheet" />
    <link href="~/assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/my-custom-styles.css" rel="stylesheet" type="text/css">
    <!--[if lte IE 9]>
        <link href="~/assets/css/main-ie.css" rel="stylesheet" type="text/css"/>
        <link href="~/assets/css/main-ie-part2.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!-- CSS for demo style switcher. you can remove this -->
    <link href="~/demo-style-switcher/assets/css/style-switcher.css" rel="stylesheet" type="text/css">
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/assets/ico/kingadmin-favicon144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/assets/ico/kingadmin-favicon114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/assets/ico/kingadmin-favicon72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/assets/ico/kingadmin-favicon57x57.png">

    <link rel="shortcut icon" href="~/assets/ico/favicon.png">
</head>
<body class="demo-only-page-blank">
    <!-- WRAPPER -->
    <div class="wrapper">
        <!-- TOP BAR -->
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <!-- logo -->
                    <div class="col-md-2 logo">
                        <a href="@Url.Content("~/Home")">
                            <span class="text-logo">Academy System</span>
                        </a>
                        <h1 class="sr-only">KingAdmin Admin Dashboard</h1>
                    </div>
                    <!-- end logo -->
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-3">
                                <!-- search box -->
                                <div id="tour-searchbox" class="input-group searchbox">
                                    @* <input type="search" class="form-control" placeholder="enter keyword here...">*@
                                    @*<span class="input-group-btn">
                                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                        </span>*@
                                </div>
                                <!-- end search box -->
                            </div>
                            <div class="col-md-9">
                                <div class="top-bar-right">
                                    <!-- responsive menu bar icon -->
                                    <a href="#" class="hidden-md hidden-lg main-nav-toggle"><i class="fa fa-bars"></i></a>
                                    <!-- end responsive menu bar icon -->
                                    <button type="button" id="start-tour" class="btn btn-link"><i class="fa fa-refresh"></i> Iniciar Tour</button>

                                    <div class="notifications">
                                        <ul>
                                            <!-- notification: inbox -->
                                            <li class="notification-item inbox">
                                                <div class="btn-group">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                        <i class="fa fa-envelope"></i><span class="count">2</span>
                                                        <span class="circle"></span>
                                                    </a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li class="notification-header">
                                                            <em>You have 2 unread messages</em>
                                                        </li>
                                                        <li class="inbox-item clearfix">
                                                            <a href="#">
                                                                <div class="media">
                                                                    <div class="media-left">
                                                                        <img class="media-object" src="~/assets/img/user1.png" alt="Antonio">
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <h5 class="media-heading name">Antonius</h5>
                                                                        <p class="text">The problem just happened this morning. I can't see ...</p>
                                                                        <span class="timestamp">4 minutes ago</span>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="inbox-item unread clearfix">
                                                            <a href="#">
                                                                <div class="media">
                                                                    <div class="media-left">
                                                                        <img class="media-object" src="~/assets/img/user2.png" alt="Antonio">
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <h5 class="media-heading name">Michael</h5>
                                                                        <p class="text">Hey dude, cool theme!</p>
                                                                        <span class="timestamp">2 hours ago</span>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="notification-footer">
                                                            <a href="#">View All Messages</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <!-- end notification: inbox -->

                                        </ul>
                                    </div>
                                    <!-- logged user and the menu -->
                                    <div class="logged-user">
                                        <div class="btn-group">
                                            <a href="#" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                                <img src="~/assets/img/user-avatar.png" alt="User Avatar" />
                                                <span class="name">@User.Identity.Name</span> <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-user"></i>
                                                        <span class="text">Profile</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-cog"></i>
                                                        <span class="text">Settings</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-power-off"></i>
                                                        <span class="text">Logout</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end logged user and the menu -->
                                </div>
                                <!-- /top-bar-right -->
                            </div>
                        </div>
                        <!-- /row -->
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /top -->
        <!-- BOTTOM: LEFT NAV AND RIGHT MAIN CONTENT -->
        <div class="bottom">
            <div class="container">
                <div class="row">
                    <!-- left sidebar -->
                    <div class="col-md-2 left-sidebar">
                        <!-- main-nav -->
                        <nav class="main-nav">
                            <ul class="main-menu">
                                <li>
                                    <a href="#" class="js-sub-menu-toggle">
                                        <i class="fa fa-edit fw"></i><span class="text">Cadastros</span>
                                        <i class="toggle-icon fa fa-angle-left"></i>
                                    </a>
                                    <ul class="sub-menu ">
                                        <li><a href="@Url.Content("~/Empresa")"><span class="text">Empresa</span></a></li>
                                        <li><a href="@Url.Content("~/Cliente")"><span class="text">Cliente</span></a></li>
                                        <li><a href="@Url.Content("~/Treinamento")"><span class="text">Treinamento</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <!-- /main-nav -->
                        <div class="sidebar-minified js-toggle-minified">
                            <i class="fa fa-angle-left"></i>
                        </div>
                        <!-- sidebar content -->
                        <div class="sidebar-content">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5><i class="fa fa-lightbulb-o"></i> Tips</h5>
                                </div>
                                <div class="panel-body">
                                    <p>You can do live search to the widget at search box located at top bar. It's very useful if your dashboard is full of widget.</p>
                                </div>
                            </div>
                            <h5 class="label label-default"><i class="fa fa-info-circle"></i> Informações do Servidor</h5>
                            <ul class="list-unstyled list-info-sidebar bottom-30px">
                                <li class="data-row">
                                    <div class="data-name">Disk Space Usage</div>
                                    <div class="data-value">
                                        274.43 / 2 GB
                                        <div class="progress progress-xs">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                                                <span class="sr-only">10%</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="data-row">
                                    <div class="data-name">Monthly Bandwidth Transfer</div>
                                    <div class="data-value">
                                        230 / 500 GB
                                        <div class="progress progress-xs">
                                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="46" aria-valuemin="0" aria-valuemax="100" style="width: 46%">
                                                <span class="sr-only">46%</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="data-row">
                                    <span class="data-name">Database Disk Space</span>
                                    <span class="data-value">219.45 MB</span>
                                </li>
                                <li class="data-row">
                                    <span class="data-name">Operating System</span>
                                    <span class="data-value">Windows</span>
                                </li>
                                <li class="data-row">
                                    <span class="data-name">IIS Express</span>
                                    <span class="data-value">10</span>
                                </li>
                                <li class="data-row">
                                    <span class="data-name">.Net Framework</span>
                                    <span class="data-value">6.1.1</span>
                                </li>
                                <li class="data-row">
                                    <span class="data-name">Microsoft SQL Server</span>
                                    <span class="data-value">2016</span>
                                </li>
                                <li class="data-row">
                                    <span class="data-name">Architecture</span>
                                    <span class="data-value">x86_64</span>
                                </li>
                            </ul>
                        </div>
                        <!-- end sidebar content -->
                    </div>
                    <!-- end left sidebar -->
                    <!-- top general alert -->
                    <div class="alert alert-danger top-general-alert">
                        <span>If you <strong>can't see the logo</strong> on the top left, please reset the style on right style switcher (for upgraded theme only).</span>
                        <button type="button" class="close">&times;</button>
                    </div>
                    <!-- end top general alert -->
                    <!-- content-wrapper -->
                    <div class="col-md-10 content-wrapper">

                        <!-- main -->

                        @Scripts.Render("~/bundles/jquery")
                        @Scripts.Render("~/bundles/modernizr")
                        @Scripts.Render("~/bundles/bootstrap")
                        @Scripts.Render("~/bundles/jqueryval")
                        @Scripts.Render("~/bundles/plugin")
                        @Scripts.Render("~/bundles/datatable")

                        @RenderBody()

                        <!-- /main -->
                    </div>
                    <!-- /content-wrapper -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- END BOTTOM: LEFT NAV AND RIGHT MAIN CONTENT -->
    </div>
    <!-- /wrapper -->
    <!-- FOOTER -->
    <footer class="footer"></footer>
    <!-- END FOOTER -->
    <!-- STYLE SWITCHER -->
    <div class="del-style-switcher">
        <div class="del-switcher-toggle toggle-hide"></div>
        <form>
            <section class="del-section del-section-skin">
                <h5 class="del-switcher-header">Choose Skins:</h5>
                <ul>
                    <li><a href="#" title="Slate Gray" class="switch-skin slategray" data-skin="assets/css/skins/slategray.css">Slate Gray</a></li>
                    <li><a href="#" title="Dark Blue" class="switch-skin darkblue" data-skin="assets/css/skins/darkblue.css">Dark Blue</a></li>
                    <li><a href="#" title="Dark Brown" class="switch-skin darkbrown" data-skin="assets/css/skins/darkbrown.css">Dark Brown</a></li>
                    <li><a href="#" title="Light Green" class="switch-skin lightgreen" data-skin="assets/css/skins/lightgreen.css">Light Green</a></li>
                    <li><a href="#" title="Orange" class="switch-skin orange" data-skin="assets/css/skins/orange.css">Orange</a></li>
                    <li><a href="#" title="Red" class="switch-skin red" data-skin="assets/css/skins/red.css">Red</a></li>
                    <li><a href="#" title="Teal" class="switch-skin teal" data-skin="assets/css/skins/teal.css">Teal</a></li>
                    <li><a href="#" title="Yellow" class="switch-skin yellow" data-skin="assets/css/skins/yellow.css">Yellow</a></li>
                </ul>
                <button type="button" class="switch-skin-full fulldark" data-skin="assets/css/skins/fulldark.css">Full Dark</button>
                <button type="button" class="switch-skin-full fullbright" data-skin="assets/css/skins/fullbright.css">Full Bright</button>
            </section>
            <label class="fancy-checkbox"><input type="checkbox" id="fixed-top-nav"><span>Fixed Top Navigation</span></label>
            <p><a href="#" title="Reset Style" class="del-reset-style">Reset Style</a></p>
        </form>
    </div>
    <!-- END STYLE SWITCHER -->

    @RenderSection("scripts", false)
    <script src="~/Scripts/Util/message.js"></script>
    <script src="~/Scripts/Util/url.js"></script>
    <!-- Javascript -->
    @*<script src="~/assets/js/jquery/jquery-2.1.0.min.js"></script>
        <script src="~/assets/js/bootstrap/bootstrap.min.js"></script>
        <script src="~/assets/js/plugins/modernizr/modernizr.js"></script>*@
    @*<script src="~/assets/js/plugins/datatable/jquery.dataTables.min.js"></script>*@

    @*<script src="~/assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
        <script src="~/assets/js/plugins/bootstrap-tour/bootstrap-tour.custom.js"></script>
        <script src="~/assets/js/plugins/select2/select2.min.js"></script>
        <script src="~/assets/js/king-common.js"></script>
        <script src="~/demo-style-switcher/assets/js/deliswitch.js"></script>*@
</body>

<!-- Mirrored from demo.thedevelovers.com/dashboard/kingadmin-v1.4/page-blank.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 05 May 2015 15:58:12 GMT -->
</html>
